@use "/src/assets/styles/variables" as *;

.catalogPage {
    padding: 20px;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: $primary-color;
}

.catalogGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    justify-content: center;
}

.catalogItem {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;

    &:hover {
        transform: translateY(-5px);
    }
}

.catalogImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.catalogInfo {
    padding: 15px;
}

.catalogName {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.catalogDescription {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
}

.catalogPrice {
    font-size: 1.2rem;
    color: $primary-color;
    font-weight: bold;
    margin-bottom: 10px;
}

.catalogLink {
    display: inline-block;
    padding: 10px 15px;
    background-color: $secondary-color;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;

    &:hover {
        background-color: darken($secondary-color, 10%);
    }
}

/* Адаптивность */
@media (max-width: 768px) {
    .catalogGrid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .catalogGrid {
        grid-template-columns: 1fr;
    }
}
