@use "/src/assets/styles/variables" as *;

.footer {
    background: $dark-gray;
    padding: 20px 0;
    text-align: center;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__text {
        color: $white;
        font-size: 14px;
    }
}
